---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProfileCard from '../components/slot.astro';

---

<html lang="es">
  <body>
    <Header />
    <main>
      <ProfileCard 
      />
    </main>
    <Footer />
  </body>
</html>